.result {
    align-items: center;
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 28px;
    padding: 10px 18px;
    width: 100%;
    margin-top: 100px;
    background-color: rgb(64, 209, 245);
}

.high-score {
    color: #000000;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 28px;
    width: 100%;
    margin-top: 100px;
    justify-content: end;
}

.restart-quiz {
    color: #000000;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 28px;
    padding: 10px 18px;
    margin-top: 100px;
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.restart-quiz {
    opacity: 0;
    animation: fadeIn 1s forwards 3s; /* 1s animation with a 3s delay */
}